.wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    
}

.box {
 
    width: 80vw;
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,.3);
   
}


.titulo{
    display: inline;
}

.btn-nova-empresa{
    float: right;
    text-decoration: none;
    color: white;
    /* background-color: #7D2948; */
    background-color: #09AD7C;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-nova-empresa:hover{
    transition: 0.2s;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    background-color: #00963f;
}

.btn-excluir:hover{
    transition: 0.2s;
    color: #FF6961;
    text-decoration: none;
}

.header-box{

    padding: 30px;

}

.borda-box{
    border-top: 1px solid black;
}

.body-box{
    padding: 30px;
}

.btn-orange{

    /* background-color: #ED8554; */
    background-color: #09AD7C;
    color: white;
}

#input-search{
    width: 20rem;
}

.btn-orange:hover{
    color: white;
    text-decoration: none;
    transition: 0.2s;
    background-color: #00963f;
}


.tabela{
    width: 100%;
    margin-top: 20px; 
}

.align-middle{
    text-align: center;
}

.tabela-linha{
    background-color: #EDE6E6;
    /* background-color: #f5f1f1; */
  
}

.btn-excluir{
    text-decoration: none;
    /* color: white; */
    /* background-color: #7D2948; */
    /* background-color: #ddd; */
    color: #212529;
    /* padding: 10px;
    border-radius: 10px;
    font-weight: bold; */
}
body{
    text-decoration: none;
    background-color: #ED8554;
    background-color: #000;
}

.store-name{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.store-info{
    font-weight: 600;
    font-size: 0.8rem;
    color: #212529;
}
.store-name:hover{
    transition: 0.2s;
    color: #09AD7C ;
}

#table-wrapper{
    overflow: hidden;
}
.container {
    display: none;
}


@media (max-width: 800px){
    .box{
        width: 95vw;
    } 
}

@media (max-width: 600px ){
    .box{
        width: 95vw;
    }
   

    .container {
        display: block;
    }
    .btn-nova-empresa{
        display: none;
    }
    #input-search{
        width: 100%;
    }
    .store-name{
        color: rgb(221, 218, 218);
        font-size: 0.8rem;
        margin: 5px 0px;
    }
    .store-name:hover{
        color: #fff;
    }
    .box-stores{
        width: 100%;
        margin-top: 30px;
        background-color: #EEEEEE;
        
        border: 1px solid #DCDCDC;     
    }
    #hidden-table{
      display: none;
    }
    /* #ede6e6
    color: 212529 */
    .header-stores{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #DCDCDC;
        
    }
    .body-store-title{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .conc-gw{
        font-size: 0.7rem;
        color: #03422f;
    }

   
}